<div class="container">
  <div class="row">
    <%= simple_form_for @user, url: user_path, method: :patch do |f| %>

    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :phone %>
    <%= f.input :company %>
    <%= f.input :website %>
    <%= f.input :description %>
    <%= f.input :job_categorie_id, collection: JobCategorie.all %>

    <%= f.button :submit, class:'btn btn-primary'%>
    <% end %>
    </div>
</div>
