<div class="container">
  <div class="row">
<div class="col-md-3">
<div class="profile-sidebar">
  <% if @user.picture_url.present? %>
    <%= image_tag @user.picture_url, class: "avatar-large" %>
  <% else %>
    <%= image_tag "http://www.pieglobal.com/wp-content/uploads/2015/10/placeholder-user.png", class: "avatar-large" %>
  <% end %>
  <p class="email"><em><%= @user.email %></em></p>
  <p><%=@user.phone %></p>
  <p><em>from</em><br>
    <%=@user.company %><br>
    <%=@user.website %></p>
</div>
</div>
<div class="col-md-9">
  <div class="profile-content">
    <%= link_to 'Edit my profil', edit_user_path, class: 'btn btn-primary' %>
    <h3><%=@user.first_name %> <%=@user.last_name %></h3>
    <p>Member since <span class="timestring"><%=@user.created_at %></span></p>
    <p><%=@user.description %></p>
  </div>
</div>
  </div>
</div>
