<div class="container">
  <div class="row">
    <%= simple_form_for @job_alert, url: job_alerts_path , method: :post do |f|%>
      <%= f.input :job_categorie, collection: @job_categories %>
      <%= f.input :address %>
      <%= f.input :ski_resort, collection: @ski_resorts %>
      <%= f.input :description %>
      <%= f.input :photo, as: :attachinary %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
