<div class="container">
  <div class="row">
    <%= simple_form_for @job_alert, url: job_alerts_path , method: :post do |f|%>
      <%= f.input :job_categorie_id, collection: JobCategorie.all, label: 'Job Category' %>
      <%= f.input :ski_resort_id, collection: SkiResort.all %>
      <%= f.input :address %>
      <%= f.input :description %>

      <div class="inline">
        <%= f.input :start_date, as: :string, input_html: { class: "datepicker" } %>
        <%= f.input :end_date, as: :string, input_html: { class: "datepicker" } %>
      </div>
      <%= f.input :photo, as: :attachinary %>
      <%= f.button :submit , class: "btn btn-primary btn-xl"%>
    <% end %>
  </div>
</div>
