<div class="container">
  <div class="row">
    <div class="photo text-center">
      <% if @job_alert.photo? %>
        <%= cl_image_tag @job_alert.photo.path, width: 1000, height: 300, crop: :fill %>
      <% else %>
        <%= image_tag 'chalet.jpg' %>
      <% end %>
    </div>
    <div class="col-md-6 col-md-offset-3 text-center">
      <h3><%= @job_alert.job_categorie.name %></h3>
      <div class="data-job">
        <h3>
          <span class="timestring"><%= @job_alert.start_date %></span> -
          <span class="timestring"><%= @job_alert.end_date %></span>
        </h3>
        <h4>
          <span class:'resort'><%= @job_alert.ski_resort.name %></span>
        </h4>
      </div>
      <p><%= @job_alert.description %></p>
      <p><em><strong>- <%= @job_alert.user.first_name %> <%= @job_alert.user.last_name %></strong></em></p>
      <%= link_to "I'M INTERRESTED", '#', class: 'btn btn-primary btn-xl'%>
    </div>
  </div>
</div>
