<div class="container">
  <div class="row">
      <p><%= @job_alert.job_categorie.name %></p>
      <p><%= @job_alert.user.company %></p>
      <p>Start on <%= @job_alert.start_date %></p>
      <p>Finish on <%= @job_alert.end_date %></p>
      <p><%= @job_alert.address %></p>
      <p><%= @job_alert.ski_resort.name %></p>
      <p><%= @job_alert.description %></p>
      <p>Post on : <%= @job_alert.created_at %></p>
      <%= link_to 'Back to list', job_alerts_path %>
  </div>
</div>
