<div class="container">
  <div class="row">
      <p><%= @job_alert.job_categorie.name %></p>
      <p><%= @job_alert.user.company %></p>
      <p><%= @job_alert.start_date %></p>
      <p><%= @job_alert.end_date %></p>
      <p><%= @job_alert.address %></p>
      <p><%= @job_alert.ski_resort.name %></p>
      <p><%= @job_alert.description %></p>
      <hr>
  </div>
</div>
